body {
    background: transparent;
    color: white;
}

#menu {
    background: #393939;
    color: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

#menu .btn-toolbar {
    margin: 0px 0px 0px 20px;
    display: inline;
}

#menu .btn-group {
    border: 0px;
    border-radius: 0px;
    background-image: none;
    box-shadow: none;
}

#menu .dropdown-toggle {
    box-shadow: none;
}

#menu .btn-inverse {
    border: 0px;
    border-radius: 0px;
    background-image: none;
}

#menu .btn-inverse:hover {
    border: 0px;
    border-radius: 0px;
    background-image: none;
}

#status {
    background: #393939;
    color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

#main {
    background: transparent;
    position: fixed;
    width: 100%;
    top: 20px;
    bottom: 20px;
}

#left {
    z-index: 0;
    background: #393939;
    color: #FFFFFF;
    position: absolute;
    width: 20px;
    padding-top: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

#right {
    z-index: 0;
    background: #393939;
    color: #FFFFFF;
    position: absolute;
    width: 20px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

#middle {
    z-index: 0;
    background: transparent;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0px;
    bottom: 0px;
}

/*.vertical_text {
    z-index: 1;
    text-align: left;
    -webkit-writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(90deg);
}*/

.tool_left {
    z-index: 0;
    left: 20px;
}

.tool_right {
    z-index: 0;
    right: 20px;
}

.tool_area {
    z-index: 0;
    background: #393939;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 200px;
    display: none;
}

#gui_toggle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 1000;
}

.modal {
    color: #FFF;
}
